<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <h1>About Me</h1>
    <p>My name is Olona, and I am learning web development using Django, am a passionate web developer with a strong background in web technologies and a deep commitment to creating user-friendly websites. My experience includes working as a Junior Web Developer at Tech Solutions Inc. and an internship in Front-End Development at Digital Innovators</p>
    <p>I am dedicated to improving my coding skills, exploring new web design trends, and aim to secure a full-time role as a web developer where I can contribute to innovative projects and continue to grow professionally.</p>
</body>
</html>

<p>My name is Olona. I am a passionate web developer with a strong background in web technologies and a deep commitment to creating user-friendly websites. My experience includes working as a Junior Web Developer at Tech Solutions Inc. and an internship in Front-End Development at Digital Innovators.</p>
        <p>I am dedicated to improving my coding skills, exploring new web design trends, and aim to secure a full-time role as a web developer where I can contribute to innovative projects and continue to grow professionally.</p>
    </section>
